<!--define the path of your header-->
<%- include("common/headerLogin")-%>
<div class="box">
    <div class="input">
        <ul>
            <h1 id="login">Login</h1>
            <h2 id="username">Username or Email Address</h2>
            <input id="email" type="email">
            <h2 id="pass">Password</h2>
            <input id="password" type="password"> <br> <br>
            <label ><input id="tick" type="checkbox">Remember Me</label><br>
            <button id="log">Login</button>
            <a href="#" id="lost"><h2>Lost Your Password?</h2></a>
            <a href="http://localhost:8088/submit" id="sign"><h2>No accout</h2></a>
            <h1 id="logo">stige</h1>
        </ul>
    </div>
</div>