<!--define the path of your header-->
<%- include("common/headerSubmit")-%>
<div class="box">
    <div class="input">
        <ul>
            <h1 id="register">Register</h1>
            <h2 id="username">Username </h2>
            <input id="name" type="text">
            <h2 id="emailh">Email</h2>
            <input id="emailin" type="email">
            <h2 id="pass">password</h2>
            <input class="password" type="password">
            <h2 id="pass">Confirm password</h2>
            <input class="password" type="password">
            <h2 id="username">Registration confirm to the mail</h2>
            <a href="http://localhost:8088/login"><button id="reg">Register</button></a>
            <a href="http://localhost:8088/login" id="username"><h2>You have a accout?</h2></a>
        </ul>
    </div>
</div>